<div class="content">
  <div class="container">
    <h2 class="mb-5">Students</h2>
    <div class="table-responsive">
      <table class="table table-striped custom-table" id="students">
        <thead>
          <tr>
            <th *ngFor="let col of columns" scope="col">
              {{col}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students" scope="row">
            <td *ngFor="let col of index">
              <span [ngClass]="{'more': col === 'score' || col === 'name'}">{{student[col]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>